# file or directory will ignore by git

# ignore all
*

# Not ignore all with extensions
!*.*

# Not ignore all dirs
!*/

# Not ignore Makefile
!Makefile
!LICENSE

### Above combination will ignore all files without extension ###

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# buld and devel folder
build/
devel/

# ignore submodule (package maintance by ros-I)
descartes/
universal_robot/
fake_ar_publisher/

